@page "/customer/{customerId:int}" 

<h3 class="mt-3">Customer Details</h3>
<div class="row">
    <div class="col-sm-3"><label>Name</label></div>
    <div class="col-sm-6"><span>@Customer.Name</span></div>
</div>
<div class="row">
    <div class="col-sm-3"><label>Hours Purchased</label></div>
    <div class="col-sm-6"><span>@Customer.HoursPurchased</span></div>
</div>
<div class="row">
    <div class="col-sm-3"><label>Hours Remaining</label></div>
    <div class="col-sm-6"><span>@Customer.HoursRemaining</span></div>
</div>


<div class="row">
    <div class="col-sm-3"><label>RST Balance</label></div>
    <div class="col-sm-6"><span>@Customer.Audit.Where(a => a.TransTypeId == 1 || a.TransTypeId == 2).Sum(a => a.Qty)</span></div>
    <div class="col-sm-6"><span></span></div>
</div>

<div class="row">
    <div class="col-sm-3"><label>Onsite Balance</label></div>
    <!--<div class="col-sm-6"><span>@Customer.Audit.Where(a => a.TransTypeId == 3 || a.TransTypeId == 4).Sum(a => a.Qty)</span></div>-->
    <div class="col-sm-6"><span></span></div>
</div>


<br />
<div class="row">
    <div class="col">
        <a href="/customers" class="btn btn-success">Back</a>
    </div>
</div>

